version: '3.9'
services:
  mongo:
    image: mongo:8.2.2
    restart: unless-stopped
    ports:
      - '27017:27017'
    volumes:
      - mongo-data:/data/db

  backend:
    build: ./backend
    restart: unless-stopped
    environment:
      - MONGO_URI=mongodb://mongo:27017/falegnameria
      - PORT=4000
    ports:
      - '4000:4000'
    depends_on:
      - mongo

  frontend:
    build:
      context: .
      dockerfile: frontend/Dockerfile
      args:
        VITE_ENV_FILE: .env.development
    restart: unless-stopped
    ports:
      - '5173:5173'
    depends_on:
      - backend

volumes:
  mongo-data:
